/* Basic layout / colours stuff */

* { box-sizing: border-box;margin: 0;padding: 0; }

@font-face {
	font-family: 'ultra';
	src: url('ultra.ttf');
}

h1 {
	color: #494E61;
	font-family: sans-serif;

}

header {
	background-color: #494e61;
}

.banner {
	background-color: #ffeef0;
}

h2 {
	color: #494e61;
	font-family: ultra;
}

p {
	color: #494e61;
	font-family: sans-serif;
}



.button {
	color: #e4e0ff;
	background-color: #3b1cff;
	font-family: ultra;
}

/* Actual layout, grid and stuff */


.container header{
	display: grid;
	grid-template-columns: 1fr 1fr;


}

header .logo{grid-column: 1/2;}
header .button{grid-column: 2/3;}



banner h1{grid-column: 1/ 4;
}
banner img{width: 100%;height: auto;}
banner{display: grid;
grid-template-columns: 1fr 1fr 1fr;}
section{display: grid;
align-items: center;}
